@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

@font-face {
	font-family: Coolvetica;
	src: url('fonts/coolvetica.ttf');
}

@font-face {
	font-family: Roboto;
	src: url('fonts/Roboto.ttf');
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(img/login_bg.jpg);
	background-size: cover;
	overflow-x: hidden;
}

.login-box {
	width: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.login-box h1 {
	float: left;
	font-size: 40px;
	border-bottom: 6px solid #008c98;
	margin-bottom: 50px;
	padding: 13px 0;
	font-family: Coolvetica;
	letter-spacing: 1px;
}

.adminheader-div {
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -10px;
	background: url(img/admin-header-bg.jpg);
	height: 150px;
}

.adminheader-img {
	padding-left: 65%;
}

.adminheader-welcome-text {
	font-family: Coolvetica;
	color: #FFFF;
	padding-top: 20px;
	padding-left: 20px;
	font-size: 200%;
}

.adminheader-email-text {
	font-family: Coolvetica;
	color: #008C98; 
	font-size: 190%;
	padding-left: 20px;
	margin-top: -3%;
}

.adminheader-logout-icon {
	padding-left: 20px;
}

.statistics-div {
	padding-top: 30px;
	margin-top: 10px;
	padding: 10px;
	border: 3px solid #008c98;
	height: auto;
	border-radius: 5px;
}

/**** USER STATISTICS ****/
.user-icon-img {
	padding-left: 35%;
}
.user-count-text {
	margin-top: -20px;
	padding-left: 45%;
	font-size: 50px;
	font-family: Coolvetica;	
}
.user-text {
	margin-top: -30px;
	padding-left: 25%;
	font-size: 200%;
	font-family: Coolvetica;
	color: #636363;
}

/**** DISEASE STATISTICS ****/
.disease-icon-img {
	padding-left: 40%;
}
.disease-count-text {
	padding-left: 50%;
	margin-top: -20px;
	font-size: 50px;
	font-family: Coolvetica;
}
.disease-text {
	margin-top: -30px;
	padding-left: 38%;
	font-size: 200%;
	font-family: Coolvetica;
	color: #636363;
}

/**** TREATMENTS STATISTICS ****/
.treatments-icon-img {
	padding-left: 40%;
}
.treatments-count-text {
	padding-left: 45%;
	margin-top: -15px;
	font-size: 50px;
	font-family: Coolvetica;
}
.treatments-text {
	margin-top: -30px;
	padding-left: 25%;
	font-size: 200%;
	font-family: Coolvetica;
	color: #636363;
}

.textbox {
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #008c98;
}

.textbox i {
	width: 26px;
	float: left;
	text-align: center;

}

.textbox input {
	color: white;
	border: none;
	outline: none;
	background: none;
	font-size: 18px;
	width: 80%;
	float: left;
	margin: 0 10px;
	font-family: Coolvetica;
	letter-spacing: 1px;
	font-weight: lighter;
}

.logIn-btn {
	width: 100%;
	background: none;
	border: 2px solid #008c98;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px 0;
	font-family: Coolvetica;
	letter-spacing: 1px;
}

.user-box {
	margin-top: -17px;
	padding: 20px;
	background-image: url('img/white-bg.jpg');
	background-size: cover;
	height: auto;
	width: 100%;
}

.usersTable-div {
	margin-top: 10px;
	padding-top: 10px;
	width: auto;
}

.addU-uID-input {
	width: 50px;
	border: 2px solid #008c98;
	background-color: #f3f3f3;
	border-radius: 5px;
}

.addU-cID-input {
	width: 250px;
	border: 2px solid #008c98;
	background-color: #f3f3f3;
	border-radius: 5px;
}

.btn:hover {
	color: #636363;
	text-decoration: none;
	-o-transition: all .3s;
	-moz-transition: all .3s; 
	-webkit-transition: all .3s; 
	-ms-transition: all .3s; 
	transition: all .3s;
}

.modal-icon {
	height: 20px;
	width: 20px;
}